<mat-toolbar style="gap: 10px; margin-bottom: 10px">
  <span>BlogApp</span>
  <span class="spacer"></span>

  <ng-container *ngIf="user$ | async as user; else unauthenticated">
    <mat-icon>person</mat-icon>
    <p style="margin: 0">{{ user.email }}</p>
    <button mat-flat-button color="accent" (click)="logout()">Logout</button>
  </ng-container>

  <ng-template #unauthenticated>
    <a routerLink="/login" mat-button>Login</a>
    <a routerLink="/register" mat-button>Register</a>
  </ng-template>
</mat-toolbar>
<router-outlet></router-outlet>
<app-spinner [spinnerName]="spinnerName"></app-spinner>
