.fullscreen-spinner {
  width: 6rem;
  height: 6rem;
  border-width: 0.5rem;
  position: relative;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
  z-index: 9999;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
  z-index: 9999;
}
